
.basket__title{
    display: block;
    text-align: center;
}




.basket{
width: 900px;
margin: 0 auto;
min-height: 600px;
position: relative;


@media (max-width:900px) {
    width: 600px;
}

@media (max-width:650px) {
    flex-direction: column;
    height: auto;
    width: 400px;

           }


           @media (max-width:450px) {
            flex-direction: column;
            height: auto;
            width: 200px;
                   }










    .closeCart__item{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 32px;
        height: 32px;
        background: #FFFFFF;
        border: 1px solid #F2F2F2;
        border-radius: 8px;
        position: absolute;
        top: 15px;
        right: 15px;
        z-index: 4;
    }



    .pay__item{
      max-width: 800px;
      margin: 0 auto;
    }


    .sum__title{
        display: flex;
        justify-content: center;
    }

    .btn__menu{
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }


    .pay__btn{
        background: #9DD458;
        width: 245px;
        height: 55px;
        padding: 5px;
        border-radius: 18px;
        border: none;
        color: #fff;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        margin-bottom: 20px;



    }






    .img__item{
        display: flex;
        justify-content: center;
        margin: 10px auto;
        align-items: center;
        width: 100px;
        height: 150px;


        img{
            display: block;
            width: 100%;
            height: auto;
        }

    }



    .title{
        margin: 5px 0 0 0;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        color: #000000;
        text-align: center;
    }

    .text{
       text-align: center;
       font-family: 'Inter';
       font-style: normal;
       font-weight: 500;
       font-size: 16px;
       line-height: 17px;
       color: #000000;
       margin: 10px auto;
    }

    .cart__price{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 13px;
        text-transform: uppercase;
        color: #BDBDBD;
        margin: 5px 20px ;
    }

    .price{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        color: #000000;
        margin: 0 20px;
    }



        .cart__item{
          position: relative;
          display: flex;
          align-items: center;
          max-width: 800px;
          margin: 0 auto;
          height: 170px;
          background: #FFFFFF;
          border: 3px solid #F3F3F3;
          border-radius: 40px;
          cursor: pointer;
          margin: 20px auto;

          @media (max-width:650px) {
   flex-direction: column;
   height: auto;
   padding: 6px ;
          }



}

.menu__item{
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.price__menu{
    margin: 0 50px;
}

.cart__count{
    display: flex;
    justify-content: center;
    align-items: center;

.plus{
    width: 32px;
    height: 32px;
    border: 1px solid #F2F2F2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.minus{
    width: 32px;
    height: 32px;
    border: 1px solid #F2F2F2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.count{
margin: 0 10px;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 27px;
letter-spacing: 0.01em;
color: #000000;
}

}

// empty cart

.cart__empty{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    justify-content: center;
    align-items: center;


    img{
        display: block;
        margin: 0 auto;
        width: 200px;
        height: 200px;
    }
    h2{
        font-weight: 700;
        font-size: 30px;
        text-align: center;
    }
    .button{
        display: flex;
        justify-content:space-around;
        align-items: center;
        background: #9DD458;
        width: 245px;
        height: 55px;
        padding: 5px;
        border-radius: 18px;
    }

    .title{
        border: none;
        color: #fff;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        padding-right: 40px;


    }
}


}


