.favorite{
max-width: 1080px;
min-height: 600px;



.container{
display: flex;
max-width: 900px;
margin: 0 auto;




    @media (max-width:1050px) {
        flex-wrap: wrap;
        justify-content: center;
    }
}


}
h1{
    text-align: center;
}

