header{
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 1px solid #EAEAEA;





}



.headerLeft{
    display: flex;
    margin: 20px;
    align-items: center;

    .text{
        padding-left: 10px;

    }

    h1{
        text-align: left;
        font-size: 25px;
        margin: 0;
        font-weight:900;
        text-transform: uppercase;


    }

    p{
        font-size: 15px;
        margin: 0;
        @media (max-width:600px) {
            font-size: 10px;
                }


    }
}

.headerRight{
    margin: 20px;

    @media (max-width:400px) {
        margin: 5px;
    }



    ul{
        display: flex;
        align-items: center;
    }

    li{
        display: flex;
        align-items: center;
    }

    a{
       margin: 10px;
       font-size: 20px;
       text-decoration: none;
       color: #9B9B9B;

    }


}

.svg__favorite{
    fill: rgb(255, 133, 133);
    ;
}