.footer{
    height: 300px;
    margin: 50px auto 0;
    background-color: #201d48;;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    @media (max-width:830px) {
        height: auto;
    }

}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    padding-top: 40px;
    margin: 40px auto 0;
    flex-wrap: wrap;
}

.footer__right{
    display: flex;
    margin-left:60px ;

    @media (max-width:830px) {
        flex-direction: column;
    }


    @media (max-width:360px) {
        margin: 0 auto;;
    }



}

.title{
    text-transform: uppercase;
    color: #fff;
}



.link__item {
    margin: 5px ;
    a{
        font-size: 11px;
        color: #fff;
        padding: 10px 0;
        text-decoration: none;
        }

        a:hover{
            text-decoration: underline;
        }
}

.footer__item{
    margin: 15px 20px;
}


.text{
    width: 800px;
    height: auto;
    margin:  10px auto 0;
    color: #fff;
    font-size: 8px;

@media (max-width:830px) {
    display: none;
}


}