.sort{
    position: relative;
}


.sort__title{

font-size: 15px;
line-height: 17px;
display: flex;
justify-content: center;
font-weight: 600;
font-size: 15px;
span{
  margin-left: 5px;
  color: red;
  font-size: 14px;
}
}

.sort__icon{
position: absolute;
top: 30px;
right: -60px;
z-index: 5;
width: 252px;
height: auto;
padding: 10px 0;
background: #FFFFFF;
box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.09);
border-radius: 10px;
}
.sort__svg{
  padding: 0 5px;
}

.sort__active{
  padding: 0 5px;
}
.sort__item{
    padding: 8px 22px 8px 10px;
    cursor: pointer;

    &.active {
        background-color: #282828;
        color: #fff;
        font-weight: 700;
      }

}

