.container{
    margin: 45px 60px;

    img{
      border-radius: 20px;
    }

    .slider-one{
      background-image: url("../../../public/img/slider1.png");
      width: 960px;
      height: 300px;
      border-radius: 20px;
    }

    .slider-two{
      background-image: url("../../../public/img/slider1.png");
      width: 960px;
      height: 300px;
      border-radius: 20px;
    }
    .slider-free{
      background-image: url("../../../public/img/slider1.png");
      width: 960px;
      height: 300px;
      border-radius: 20px;
    }
    .slider__btn-one{
      position: relative;
      top: 70%;
      left: 10%;
      z-index: 1;
      width: 178px;
      height: 50px;
      border-radius: 110px;
      background: #A5D364;
      border: none;
      font-style: normal;
      font-weight: 500;
      font-size: 17px;
      line-height: 19px;
      text-align: center;
      text-transform: uppercase;
      color: #FFFFFF;



    }
    .slider__btn-two{
      position: relative;
      top: 70%;
      left: 60%;
      z-index: 1;
      width: 178px;
      height: 50px;
      border-radius: 110px;
      background: #A5D364;
      border: none;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 500;
      font-size: 17px;
      line-height: 19px;
      text-align: center;
      text-transform: uppercase;
      color: #FFFFFF;



    }
    .slider__btn-free{
      position: relative;
      top: 70%;
      left: 10%;
      z-index: 1;
      width: 178px;
      height: 50px;
      border-radius: 110px;
      background: #A5D364;
      border: none;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 500;
      font-size: 17px;
      line-height: 19px;
      text-align: center;
      text-transform: uppercase;
      color: #FFFFFF;



    }
  }
